<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="bike">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_heavy" default="false" />
  
  <xacro:property name="sim_env" value="$(arg sim_env)" />
  <xacro:property name="ctrl_mode" value="$(arg ctrl_mode)" />
  <xacro:arg name="yaml_path" default="" />

  <xacro:include filename="$(find tita_description)/bike/xacro/materials.xacro" />
  <xacro:include filename="$(find tita_description)/bike/xacro/description.xacro" /> 
  
  <xacro:if value="$(arg use_heavy)">
    <xacro:include filename="$(find tita_description)/bike/xacro/heavy.xacro" />
      <joint name="joint_heavy" type="fixed">
        <origin xyz="0.1 0 0.13" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="heavy_link" />
        <axis xyz="0 0 0" />
      </joint>
    <xacro:bike_heavy />
  </xacro:if>

  <xacro:include filename="$(find tita_description)/bike/xacro/ros2control.xacro" />

  <xacro:if value="${sim_env == 'none'}">
    <xacro:property name="name" value="HardwareControl" />
  </xacro:if>

  <xacro:if value="${sim_env == 'gazebo'}">
    <xacro:property name="name" value="GazeboControl" />
  </xacro:if>

  <xacro:if value="${sim_env == 'webots'}">
    <xacro:property name="name" value="WebotsControl" />
  </xacro:if>

  <xacro:description />
  <xacro:ros2control name="${name}" ctrl_mode="$(arg ctrl_mode)" sim_env="$(arg sim_env)" yaml_path="$(arg yaml_path)" />

</robot>